use Mix.Config

config :byzantin, Byzantin.Web.Endpoint,
  secret_key_base: "9T5Cva1P8TiGdJl7aLle1hq7e4N0E1/CyhHkJXJIKK+7GerThjjQDpEiYZJPeV0e"

# Configure your database
config :byzantin, Byzantin.Repo,
  adapter: Ecto.Adapters.Postgres,
  username: "postgres",
  password: "postgres",
  database: "byzantin_prod",
  pool_size: 15
